[2016-02-22 03:44] DylanPiercey opened #2 "Server side rendering."
Randomly stumbled on this library - it looks awesome. One thing that seems missing is the ability to initially render on the server side.

Even internally using something like https://github.com/krisselden/simple-dom would help.

Ideally there would be a "monkberry-server" compiler that rendered a string instead of dom for isomorphic apps though.

[code]

If this was to be done I think a node-js "

[2016-02-22 06:26] elfet commented on #2
Hi,

I have plans to implement server rendering, via separation of compilers: DOM compiler and string compiler.
There well be different compiled javascripts for string compiler.
But now i don't know how to best integrate this in node.js.

[2016-06-29 19:42] thinkpadder1 opened #5 "Typescript definitions?"
[TypeScript Definition Manager](https://github.com/typings/typings)

Would be very helpful if we got Typescript Definition files for the api (not the templating/handlebars).

[2016-06-29 21:52] artisin commented on #5
Did you look at the code? This is `js` not `ts`.

[2016-06-30 04:34] elfet commented on #5
Okay, will do it.

[2016-07-01 04:24] benjamminf opened #6 "Support for content inside components"
Would be interesting if components could support inner content. Vue uses it's `<slot>` tags to accomplish this, which I quite like. Twig also has a similar approach using `{% block %}` tags.

I attempted to add inner content to a component, and while it compiled just fine, there was some strange behaviour. I'm not sure if this is something already implemented but just not documented.

[2016-07-01 04:36] gamebox opened #7 "Documentation for CLI tool"
CLI tool looks nice for someone who doesn't want to configure a bundler just to get something started here.  But there is no documentation of any sort, and I am only able to get single files to be compiled, though it will draw an AST for multiple .monk files.

[2016-07-01 05:42] elfet commented on #7
Hi,

Only example now is here: http://monkberry.js.org/docs/installation#cli

Will write more about CLI soon. Also will add `--watch` mode.

[2016-07-01 05:44] elfet commented on #6
Hi,

Now custom tags in Monkberry behave as inline components in vue. I was thinking about adding support for slots and block in future. But i need more use cases, to better understand what API should it have.

[2016-07-01 05:49] elfet commented on #5
What is the best way to add TSD for project?

[2016-07-01 07:53] alexlur opened #8 "Routing"
I am looking forward to using Monkberry in my next project. What router plays well with Monkberry?

[2016-07-01 09:00] elfet commented on #8
Hi,

You can use any routing library you want.

For an example you can use [director](https://github.com/flatiron/director).

[2016-07-01 09:01] elfet commented on #8
If you end up with some nice approach, write you solution. It there interesting to see.

[2016-07-01 10:00] alexlur commented on #5
@elfet I think you can specify your typing definitions in `package.json` with the line
[code]

[2016-07-01 10:28] elfet commented on #5
How to test TSD?

[2016-07-01 14:50] gamebox commented on #7
Just as a heads up for early adopters, this tool is SOLELY for compiling .monk files into Javascript.  You still need a transpiler(for ES6) and bundler(if you need it).

Also, thank @elfet for the quick responses.

[2016-07-01 14:54] gamebox commented on #5
This package seems to be purpose built for this: https://www.npmjs.com/package/typescript-definition-tester

[2016-07-01 17:24] elfet commented on #7
A bundler?

[2016-07-01 21:12] alonronin commented on #8
Express inspired micro router:
https://github.com/visionmedia/page.js

[2016-07-02 11:48] Mevrael opened #9 "Rollup.js support"
Hi @elfet

Found the link to this project on hashnode. After reading README looks like I've found 1st real js template engine with ES6 support and benchmarks  and which not sucks much. Followed you on twitter, can you DM @mevrael your facebook/messenger, skype, VK or any other profile with chat so we could talk.

Since we can't simply `import x from template.nojs` we need to use some tools to comp

[2016-07-02 14:31] elfet commented on #9
Hi, we can add rollup support too, i can create a repo for it and add you as maintainer if can implement it.

[2016-07-03 06:27] alexlur commented on #9
Hi. I have implemented a skeleton [here](https://gitlab.com/alexlur/rollup-plugin-monkberry). Pull requests are welcome.

[2016-07-03 07:08] alexlur commented on #9
Rollup.js utilizes the ES6 module syntax for static analysis and tree shaking purposes, and requires a wrapper to use CommonJS modules. Do you mind producing ES6 output and use a lightweight transpiler like [`buble`]((gitlab.com/Rich-Harris/buble)) for ES6 outpu?

[2016-07-03 09:04] Mevrael commented on #9
@elfet could you make a ES6 version of monkberry and CLI? It would make integration with rollup and ES6 projects much easier.

You don't need to use any transpilers for Rollup js if all what are you going to use is import/export, for rest ES6 syntax you need babel or something.

Some questions about monkberry:
1. is there any option I could use one template (table row) to render big tables and not

[2016-07-03 09:39] alexlur commented on #9
@Mevrael I have implemented what you want in #10. You are welcome to take a look.

[2016-07-04 01:20] benjamminf commented on #6
Here's a use case for a project I'm working on:

I have a header bar that contains the title of the page. The settings page requires a Save button to be added to the right of the title. The data graphing page requires Start, Stop and Export buttons. The buttons here are dependent on the page, and not the header bar, so it doesn't make sense to bundle them inside the header bar component. But I sti

[2016-07-04 01:55] benjamminf opened #11 "Render context"
I'm not sure exactly what the purpose of the `context` parameter is when rendering templates. In the API reference, the only note on this parameter is:

Does this mean any descendant components initialised in the rendered template will have the `context` data passed to it as well?

My first thought was that `context` provided a way of passing in extra "global" properties that could be used in temp

[2016-07-04 05:06] benjamminf commented on #11
Looking into some examples, I see `context` is generally used to hold actions for state management (redux). This is a much better idea.

[2016-07-04 05:06] #11 closed

[2016-07-04 05:58] elfet commented on #11
Hi,t

You are right, `context` is for passing some context (😃 ) through component hierarchy.
It's same as reacts contexts: https://facebook.github.io/react/docs/context.html

[2016-07-04 06:24] benjamminf commented on #11
Ah okay, thanks! I've never used React before, and as far as I know there's no explicit controlling of component context in Vue. Cheers for the link!

[2016-07-04 06:44] elfet commented on #9
What do you mean by rendering all at once?

Can you provide some example of what you want?

[2016-07-04 06:51] #8 closed

[2016-07-04 06:51] benjamminf commented on #8
I've come up with a pretty tiny implementation that I'm happy to share. I'm not exactly using a routing library, but I've set it up in a way that a routing library could trivially be tacked on top.

First, I created a `routes.js` file that holds a list of Monkberry templates:

[code]

Next, I created a custom directive that will act sort of like a dynamic component.

[code]

My main `App.monk` com

[2016-07-04 06:58] elfet commented on #6
for now i see two options for this: using block and using slots.

### Block

[code]

[code]

### Slot

[code]

[code]

With block also possible to implement extending.

[2016-07-04 07:09] elfet commented on #8
@benjamminf  Cool!

I'm going to write an article soon about routing too.

[2016-07-04 07:45] Mevrael commented on #9
@elfet

Instead of
[code]

Something like
[code]
using documentFragment

For example, you have template for comment
[code]

you have object of data as AL:
[code]

And you want to render into {{ answers }} same template using comments where parent_id = this comment's id. In example above you should have:

comment 1
-- comment 2
---- comment 4
comment 3

Templating and view sources in modern front-e

[2016-07-04 08:31] elfet commented on #6
I like block way, because it allow also to implement template inherence, but need to find way to passing default data to block:

[code]

[code]

[2016-07-04 13:57] coastpear opened #12 "Get state from view"
Hi @elfet , I've been trying this framework and it seems great, and with it's small size and benchmarks it's sounds like the "next JQuery must use in any site" framework.

But a was trying to make an ajax request and get to state (just like when update the view we just call view.update(someObject) it seams that (for now) it's doesn't has a way to get that state, for enable me, for instance make a

[2016-07-04 14:02] elfet commented on #12
Hi, thanks!

First of all Monkberry is **not** framework, it's *library*. So you can you is in any framework you want, or build your own.

If you need to update state from server you can do something like this:

[code]

[2016-07-04 14:03] elfet commented on #12
I'm going to write a bunch of articles about integrating Monkberry with frameworks like redux and other.

[2016-07-04 14:21] coastpear commented on #12
sorry for the mistake :) That's not what I wanted to ask.

What i wanted was something like this:
`var view = Monkberry.render(Template, document.body);
view.update({name: 'World'});
var data = view.getState();
$.post('url',data)`

[2016-07-04 16:52] elfet commented on #12
No, this is not possible. This is main feature of Monkberry —it does not contains state, it's like pure function `f(state) => view` which will give you a view from state.

But get track of state it's pretty easily be your self:
[code]

[2016-07-05 00:44] benjamminf commented on #6
Yeah I'm a fan of the `{% block %}` tag as well. It's a specialised tag, so it should stand out syntactically. Reserving a HTML tag name feels a bit too much like a hack. And as you said, it allows for template inheritance.

[2016-07-05 01:15] benjamminf commented on #12
I think a dedicated `monkberry-redux` project would be pretty helpful, which I'm sure @elfet is working on. But I'm inclined to agree with @elfet – Monkberry should be kept pure by simply rendering view from some state. It allows for a huge amount of flexibility. It does come at the expense of out-of-the-box features but clearly that's not the aim of the library anyway.

[2016-07-08 04:53] benjamminf opened #14 "HTML entities in templates render incorrectly"
Using HTML entities like `&rarr;` in Monkberry templates are encoded incorrectly. For example, instead of `&rarr;` showing `→`, it shows `â†’`.

I'm compiling templates using the webpack loader.

[2016-07-08 06:05] elfet commented on #14
Looks like working for me. Can you show online example?

![-08-2016 13-03-49](https://cloud.githubusercontent.com/assets/141232/16678777/83250e9c-450c-11e6-9974-f05f3c16d386.gif)

[2016-07-08 06:45] benjamminf commented on #14
Looking at the compiled files I see nothing wrong with Monkberry. It outputs something like `h0.appendChild(document.createTextNode("→ Hello"))`, which looks fine. But apparently embedding entities like this doesn't seem to play nice in Javascript. Running `console.log('→ Hello')` outputs the same broken string. The only way I can actually get the entity in the DOM correctly is to use `.innerHTML

[2016-07-08 06:51] benjamminf commented on #14
Okay, it turns out my files are being saved in UTF-8 encoding, when they need to be saved as Unicode. I'm not sure how to set this as a default encoding when compiling with webpack... I'm looking into it.

[2016-07-08 06:51] indus opened #15 "Browser support?"
I haven´t seen any information about that.

[2016-07-08 06:57] elfet commented on #14
Nice. If tell me how you solve this. :+1:

[2016-07-08 07:01] elfet commented on #15
Hi, i'll add it soon. Also I planing to run all my tests in browserstack.

[2016-07-08 07:03] benjamminf commented on #14
Oh... I'm an idiot. I forgot my character set meta tag in my HTML. Adding `<meta charset="UTF-8">` in the head solves this.

Carry on.

[2016-07-08 07:03] #14 closed

[2016-07-08 07:21] elfet commented on #15
Now Monkberry supports IE9+, Firefox 4+, Chrome 15+, Opera 12.1+ Safari 5+, Edge 13+, iOS 5+, Android 4+.

[2016-07-08 08:14] benjamminf opened #16 "Support for arrow functions in directives?"
Currently calling a method in a directive requires having to re-bind the context, which is a little redundant.

[code]

It'd be nice if it could support arrow functions, and allow for accessing arguments too (like an event object):

[code]

[2016-07-08 08:49] elfet commented on #16
Yes this is cool feature. Already in [TODO](https://github.com/monkberry/monkberry/blob/master/TODO.md).

[2016-07-08 09:20] benjamminf commented on #16
Ah my bad, didn't see the TODO list. Looking forward to it :+1:

[2016-07-08 09:25] indus commented on #15
Good to know. This may sound a bit stupid, but do you think there is a chance for a IE8 legacy version or is there ans hard show stopper. I've had a look to monkberry.js so far and it looks not to hard but it would also depend a lot on the compiled templates of course (e.g. eventListeners etc.)

[2016-07-08 10:22] elfet commented on #15
Monkberry uses only createElement and setAttribute. So I think it's possible to run on IE8. But a lot of libraries will need a lot of polyfills.

[2016-07-08 10:22] trueadm opened #17 "Handling of lifecycle events and keyed lists?"
Is there any plans to bring lifecycle events to Monkberry (both on components and elements)? Furthermore, is there any plans to support keyed lists, as currently the update process of children in Monkberry seems to be destructive. Having support for keys on elements would resolve this issue.

Good work by the way, keep it up :)

[2016-07-08 10:30] elfet commented on #17
Hi,

Now I do not planning adding lifecycle events, but you can use something like this:

[code]

Keyed lists can bring some optimizations, but even without them Monkberry is fast.

[2016-07-08 10:34] trueadm commented on #17
@elfet Keyed lists is not about performance. It's main importance is preservation of internal DOM state. It prevents `input`, `video`, `iframe` and custom elements etc from getting removed/added if they move about in an array. This is a hugely important feature for any UI library.

[2016-07-08 10:40] elfet commented on #17
I see, will think how it's possible to implement keyed feature for loops.

Can you show some example there keyed is important?

[2016-07-08 10:50] trueadm commented on #17
I brief example, imagine this:

[code]

I've started typing something into the `input` field, then an update comes in whilst I'm doing that. The update says to move the elements around so that it becomes:

[code]

I'd expect the `input` element to move two places down in the array of children and my `focus` and `value` on the input to be unchanged. Except, it can't do that unless it knows how to m

[2016-07-08 11:01] elfet commented on #17
I see, but Monkberry does not use any virtual-dom model, os it's simple not possible to create template there `<input>` tag should be moved to the env of list (what is correct for vdom where you can expect anything to render).

Monkberry used a different approach, there no cases then you need to reorder element. In Monkberry you can use only `{% if %}` and `{% for %}` tags:

[code]

There only one

[2016-07-08 11:07] trueadm commented on #17
My above example was that of using lists, sorry if I didn't make that clear. Still, you need key support in Monkberry for real-world use if anyone plans to use much of the DOM spec in the way it was intended to be used.

[2016-07-08 11:10] indus commented on #15
You mean other external libraries, right?
Sure IE8 is more pain then ever (for a good reason)

Thanks for the fast answers and :+1: for your work.

[2016-07-08 11:10] #15 closed

[2016-07-08 11:16] elfet commented on #17
Monkberry is production ready, it's used already in http://www.jetradar.com and https://www.travelpayouts.com

[2016-07-08 11:23] trueadm commented on #17
@elfet That's good to see. Do those sites have have instances of large lists of items containing stateful DOM elements?

Scenario: someone tries to use Monkberry for something like a news feed, that might have ~20 items in at a time and works like an infinite scrolling list. The newsfeed items include video and iframes of user content (imagine a Facebook newsfeed). If the array of data from the mo

[2016-07-08 12:00] elfet commented on #17
We have large lists of airline tickets.

If using large mutating list of iframes/videos/inputs you will lost state, it that case you need to do some hand work. Example: https://jsfiddle.net/medv/5ob123e4/
So, i'm planning to implement keys for loops.

[2016-07-08 12:14] trueadm commented on #17
@elfet good to hear :)

[2016-07-10 12:49] 0x8890 opened #18 "Comparisons to other libraries"
I'm curious to hear how this is different from other libraries, such as [HTMLBars](https://github.com/tildeio/htmlbars).

[2016-07-10 16:53] elfet commented on #18
Monkberry is really different from HTMLBars, it's not string template engine, it's DOM template engine.
It's more like React or Angular.

[2016-07-10 17:01] elfet commented on #18
Another big difference is what Monkberry does not use `eval` or it's analog `new Function` to create template.

From [HTMLBars source](https://github.com/tildeio/htmlbars/blob/master/packages/htmlbars-compiler/lib/compiler.js#L35):
[code]

[2016-07-10 17:04] elfet commented on #18
Size matter to:
[code]

[2016-07-11 08:37] davojan opened #19 "What magic is under the hood instead of virtual-dom?"
How the engine detects what DOM should be changed on update without virtual-dom?

[2016-07-13 08:09] 0x8890 commented on #18
Hmm, I'm not sure if that is the case, the [runtime](https://github.com/tildeio/htmlbars/tree/master/packages/htmlbars-runtime/lib) is quite small.

Also, the compiled template looks to implement a similar concept to what monkberry does, build dom code from a template string, especially the `build` function: https://github.com/emberjs/ember.js/issues/10454

[2016-07-18 01:16] benjamminf opened #20 "Spread operator doesn't work on sub-properties"
Using the spread operator on a sub-property causes compilation to fail:

[code]

[2016-07-18 09:43] elfet commented on #20
Hi,

Yes, it's true. Now spread operator supports only variable names. Will add support for common Javascript expressions in spread op too.

[2016-07-21 16:32] minimok opened #22 "Simples examples folder"
Monkberry is very nice indeed! Would be really cool to see some "simple" examples of how to use events - e.g.
I have an object 'Fruit' that has a name property and 1 method 'handleClick' which, say, logs to console every time it's invoked.
I pass  a Fruit instance new Fruit() to view.update(..)
------
`<h1>{{name}}</h1>`
`<button onClick="{{handleClick}}">ClickMe</button>`
------
The name of my fr

[2016-07-21 17:20] catindev commented on #22
@minimok try event handling [examples](http://monkberry.js.org/docs/event-handling ) from docs.

[2016-07-21 18:28] minimok commented on #22
Thanks. I forgot to mention I've read the docs. None of them illustrate passing an object into the DOM and then using DOM events to execute methods belonging to the specific object that was passed in (aka OOP). I've written a brutal hack to solve the issue - basically removing all event-handling from monkberry's role in the app and using it purely to render data...which it's very good at.

[2016-07-22 10:14] elfet commented on #22
There a few solution: dom delegating/event directives/direct event listeners. Read more at docs: http://monkberry.js.org/docs/event-handling

[2016-07-22 10:14] #22 closed

[2016-07-27 11:49] francescoagati opened #23 "context in template isn't passed"
The context isn't passed when printed on template.
Here an example http://jsfiddle.net/z8pzsdyv/11/

[2016-07-27 13:53] elfet commented on #23
Yes, this is true. In render state there is no context. Context will appear after.
I know how to fix it, need to move all static constructions with `this` or `this.context` into spots.
Here is working example: http://jsfiddle.net/z8pzsdyv/12/
But note, what there is no dynamic bindings with context in template: https://github.com/monkberry/monkberry/blob/master/monkberry.js#L75

[2016-07-27 13:56] francescoagati commented on #23
yes is nice for using some context also in printing variables

[2016-07-27 14:49] francescoagati commented on #23
but i get error also with filters at the first rendering if i call a filter

[2016-07-28 06:07] elfet commented on #23
True. You can add a variable to call.

That purpose of doing stuff like this?

[2016-07-28 08:54] francescoagati commented on #23
i wanna pass context and filters to template. but whe the template is rendered i get an error

[2016-07-31 00:28] francescoagati opened #24 "stateless directive"
Hi,
this is a proposal for using a static directive. actually every time a directive is used, an object is created.
My idea is:
if in the directive function is passed a function instead an object, the function is called with node element.

example
directives: {
  background:functon(node,value) {
       node.style.backgroundColor = value;
  }
}

[2016-07-31 10:44] elfet commented on #24
Hi,
Yes, this is good solution. I'll try to implement it. But in this case we need to add `if` for each directive call. Maybe it will be better to use another syntax for stateless directive like `@bg={{  }}`. But it will complicate learning.

[2016-07-31 17:23] francescoagati commented on #24
Or using ::bg=
The simbol :: Is used in many lang for static methods and properties access

[2016-07-31 17:37] francescoagati commented on #24
Another syntax is better for performance instead of using if at runtime

[2016-07-31 23:56] francescoagati commented on #24
i think we can pass also state in staless directive

[code]

where state can be bind,unbind,update

[2016-08-02 11:56] francescoagati commented on #17
morphdom use id for keyed list. https://github.com/patrick-steele-idem/morphdom/blob/master/src/index.js#L342

[2016-08-02 13:03] francescoagati opened #25 "update of input text with directive inside loop isn't correct"
for an error example see this fiddle http://jsfiddle.net/kq950d9L/51/
the values inside the html are wrong when add new elements

[2016-08-02 13:14] francescoagati commented on #25
sorry my error

[2016-08-02 13:14] #25 closed

[2016-08-03 19:03] francescoagati commented on #17
@trueadm @elfet i think that the beauty of monkberry is his simplicity. So when there must be another type of render for best performance for some use case (like a virtual dom) this can be embed with a monkberry directive.
Image that we can implement a dynamic list with a fast virtual dom like inferno or snabbdom, wrap it inside a monkberry directive an use inside a monkberry template.

For exampl

[2016-08-04 09:41] 0x8890 opened #26 "Add DBMonster benchmark"
It would be nice to see how monkberry performs compared to other libs:
http://mathieuancelin.github.io/js-repaint-perfs/

[2016-08-04 14:34] elfet commented on #26
Hi,

You can add it there your self. We have our own benchmarks: http://monkberry.js.org/benchmark/

[2016-08-16 17:56] Madumo opened #27 "Lifecycle methods are overridden"
There is three methods that seem to act as lifecycle methods on the components: onRender, onUpdate and onRemove.

But the Monkberry constructor is setting them to null, and then the component constructor may set them to a function, like when you use a directive.

Because of that, you can't just declare an onRender method that call super.onRender() in your component class. It will get overridden. R

[2016-08-17 08:34] elfet commented on #27
Yes, it's true, this methods using for internal purposes in monkberry. It's not like lifecycle methods.
But i think we can add lifecycle events with more native naming and rename onRender to something like `__onRender__`.

[2016-08-23 21:58] ngaer opened #28 "Runtime compilation"
Is there any way to compile monkberry template from html string in application runtime? I was looking into `Compiler.compile` method, but it seems like it only can generate template file content.

[2016-08-24 01:56] godDLL commented on #8
@elfet where will I be able to read the aforementioned article?

[2016-08-24 02:01] godDLL commented on #7
@elfet something like Rollup.js

[2016-08-24 02:23] godDLL commented on #28
Have a look in [monkberry/standalone](https://github.com/monkberry/standalone)

[2016-08-24 05:32] elfet commented on #8
@godDLL now have not much time, need to work. Next chapter i'm going to write will be about performance. After that try to write about routing.

But there a lot of routers for js what you can use right now.
Like director: https://github.com/flatiron/director

[2016-08-24 05:37] elfet commented on #28
@godDLL is right.
But it's always better to precompile your templates (performance, security, ...).

[2016-08-24 05:37] #28 closed

[2016-08-31 22:05] zenithtekla opened #29 "use monkberry in Node Express JS app?"
How to set monkberry to render view engine in Node Express app?

[2016-09-01 05:51] elfet commented on #29
Monkberry is now suitable only for web rendering.

But i have plans for adding server side rendering.

[2016-09-01 05:51] vamshi9 commented on #29
Hope this helps you![https://github.com/monkberry/monkberry/issues/2](url)

[2016-09-01 16:16] zenithtekla commented on #29
Thank you for your inputs. I gave a quick look at your reference and saw there ain't app.set('view engine', 'monkberry') or the like.

To be more specific about my question
Assume, as in [here](https://github.com/zenithtekla/nodeMySQL/blob/master/modules/core/server/configs/core.server.configs.js#L50), I loaded the routes with
    `require(routes)(app);`

**Do I need** to use app.engine() like the

[2016-09-01 16:21] zenithtekla commented on #29
Just Read elfet reply a moment after I replied. sorry. and I will definitely look forward to the server-side rendering capability of Monkberry, knowing it's extremely lightweight, fast and efficient (saw the benchmarks).

[2016-09-02 05:18] #29 closed

[2016-09-12 15:32] Nexxtron opened #32 "No Access to Outer Scope, within if inside for loop?"
Hey,
at first, I want to say thank you, for this brilliant Library.

Now to the actual Problem. I am currently writing a complex UserInterface where I need multiple conditions and "for"-loops inside each other. But I can´t access the outer Scope variables inside a "if"-condition within a "for"-loop...

Documentation says:
"To access outer scope specify iterator name."
-> `{% for user of array %}
{

[2016-09-14 04:48] cezarlz opened #33 "Trying to route"
Hi guys, how are you? I have used React a lot, but I'm trying to change to something more simple.

I'm trying to implement a route system using the lib director. My code is very simple, just to study the monkberry.

Ok, let me show my code:
`app.js`
[code]

I don't know if I understand what is the method `render`, but it's "appending" my templates, not "replace" them.

Follow a GIF example to demo

[2016-09-14 04:59] benjamminf commented on #33
Why don't you just empty out the node before rendering?

[code]

[2016-09-14 05:03] cezarlz commented on #33
I'm finding some solutions, I'm doing something using the own events from director router:

[code]

[2016-09-14 05:04] benjamminf commented on #33
That looks fine to me 👍

[2016-09-14 05:19] agauniyal commented on #33
@cezarlz would you mind telling how are you using monkberry with es6 syntax - gulp + browserify?

[2016-09-14 05:26] cezarlz commented on #33
Hi @agauniyal, I'm using es6 with babel and webpack only. The monkberry provides a loader to work with Webpack.

I create a gist with my options: https://gist.github.com/cezarlz/f75ac0878994135c168432732dc560e7

Thanks!

[2016-09-14 06:06] elfet commented on #32
Hi, this looks like bug for me.

I will take a look as soon as possible.

[2016-09-14 14:51] bronter opened #34 "Recursive Component"
How do I make a component that renders itself recursively?
For example (albeit not a very practical one), suppose I wanted to make a component that just makes a mountain of divs that is `count` levels deep:
[code]
Which if I updated it with count=3, would give something like this:
[code]

I can't seem to figure out any way to reference a component inside itself, so how do I make a recursive compon

[2016-09-14 23:19] PierBover commented on #33
Is there any recommended router for Monkberry?

Not having a router is probably the biggest drawback of the library IMO.

[2016-09-14 23:21] PierBover commented on #26
It's already there and running great:
http://mathieuancelin.github.io/js-repaint-perfs/monkberry/index.html

[2016-09-14 23:59] cezarlz commented on #33
@PierBover I'm using an approach with director.js, but I don't know if the "approach" is the best way. I tried follow using something like "containers".

For example:
[code]

Containers
[code]

Directive
[code]

View
[code]

It's works correctly, but I'm afraid about this way is performatic.

Someone has a better idea?

Thanks!

[2016-09-15 01:09] PierBover commented on #8
Hey @elfet how is that article coming along? :)

[2016-09-15 01:21] PierBover commented on #33
Would be awesome if @elfet could chime in!

[2016-09-15 05:02] elfet commented on #34
You can import self component.

[2016-09-15 05:04] elfet commented on #8
Hey @PierBover it's still in my backlog, but now do not have much time.

[2016-09-15 05:08] elfet commented on #26
Awesome!

[2016-09-15 08:26] 0x8890 commented on #26
Nice :)

[2016-09-15 08:26] #26 closed

[2016-09-15 11:15] elfet commented on #33
Hi, all.

lets start from what Monkberry is just a library for transformation from **state** -> **DOM**.
There is no best way to "route" or state management. You can use in that ever you want to.
For me its redux + monkberry plays well. I'll write an article about this if i have time.

[2016-09-16 11:04] elfet commented on #32
Fixed in [4.0.8](https://github.com/monkberry/monkberry/commit/6c232c61dac202a614e4952a677559a36f347820).

[2016-09-16 11:04] #32 closed

[2016-09-16 12:45] Nexxtron commented on #32
Thank you, very much!

[2016-09-20 22:33] cezarlz opened #35 "[QUESTION] for...else implementation on templating"
Hi guys, first of all, this library is just amazing!

What dou you think guys about implement something like this in templating:

[code]

[Python has a good example of this implementation.](http://python-notes.curiousefficiency.org/en/latest/python_concepts/break_else.html)

[code]

Thanks!

[2016-09-21 02:12] cezarlz commented on #33
Hi @elfet, do you have some news about the articles? Thanks!

[2016-09-22 11:00] elfet commented on #33
No, hope next month.

[2016-09-22 11:05] elfet commented on #35
Hi, thanks. Nice feature.

[2016-09-22 12:37] Mevrael commented on #19
Why do you need Virtual DOM?

[2016-09-23 17:50] elfet commented on #19
Hi,

I'm going to write an article about how Monkberry works in next month. Will explain all there. Short answer is what templates compiled from this:
[code]
To something like this:
[code]
And some king of "virtual dom" used on top/component level.

[2016-10-01 05:46] bronter commented on #34
Figured it out, I just didn't know multiple custom components could be defined per-file, so:
[code]

Seems to work

[2016-10-01 05:46] #34 closed

[2016-11-09 17:14] dmitrya1979 opened #36 "support of null in conditions like {% if previousTime != null %}"
Great library. It looks like null is not supported http://jsfiddle.net/zq3ez61h/ Can it be extended to support nulls?

[2016-11-09 17:37] Nexxtron opened #37 "[Question] Big Lists"
Hello,
Currently I have a List (as Component). The list can have up to 1000 rows. Each row can have some styles and optionally more components. The row component can be rather heavy (have a lot of content).

[code]

Now, if I add one row to the start of the List, Monkberry updates/re-renders all rows and then things get slow... (When all Rows are re-rendered/updated it takes on FF about 600ms)
How

[2016-11-09 17:58] Nexxtron commented on #36
Hello,
got the same problem with (both "row" and "index" are defined!):
`{% if row[index] != undefined) %}`
in the compiled output the undefined/null gets recognized as variable:
`this.__cache__.index !== undefined && this.__cache__.row !== undefined &&` **`this.__cache__.undefined !== undefined`**

[2016-11-10 07:36] elfet commented on #37
Hello,

Yes keyed list is solution for your problem. But currently Monkberry does not supports keyed list. I think to add this feature in next Monkberry v5.

[2016-11-10 07:37] elfet commented on #36
Currently *undefined* ignored on update in Monkberry. I'll add support for them in next Monkberry v5.

[2016-11-10 08:58] kisenka commented on #37
@elfet any ETA of v5? :)

[2016-11-10 10:04] elfet commented on #37
I wish i have ETA :)

[2016-11-10 13:21] Nexxtron commented on #37
Is there any workaround/hack to overcome this problem, at the moment? Sth. like pre-fill the "row" array and set all rows to invisible? Then, when I add a row, I toggle the visibility?

[2016-11-10 13:25] elfet commented on #37
Yes, workaround for this simple: implement manipulating with big rows in vanilla.js. In this case you get get best performance possible, but it of cause require you to write additional code.

[2016-11-20 03:08] Javiani opened #38 "Replace default html data on first update"
To be more straight-foward on my question, allow me to show a simple code:

Html view
[code]

Template `button.monk`

[code]

[code]

I would expect this:
[code]

But instead, I have the following:
[code]

Why do I need that? Because I always prefer the initial html state to be rendered by server-side, and I still like the old unobstructive way of doing front-end. So only after some user interacti

[2016-11-20 05:45] elfet commented on #38
It's because monkberry do appendTo dom on render, true to do something like this before render:
[code]

[2016-11-20 20:30] Javiani commented on #38
Oh.. ok, I had the same idea... But I just used a simple example to illustrate the issue.  Html can be way more complicated then that example I gave. So, I think the only way to fix this is to empty every nodes that has `textContent` before the first monkberry `.update()` call, and let the future calls to be handled by monkberry "virtual dom" logic.

Just thinking out loud...I use Monkberry just a

[2016-11-21 03:49] elfet commented on #38
So..., what is your queation?

[2016-11-21 18:38] Javiani commented on #38
hahahah, sorry I was just thinking out loud... nevermind.
Thanks @elfet.

[2016-11-21 18:38] #38 closed

[2016-11-29 04:53] fangjj opened #39 "how can i use monkberry in browser just like jquery"
i use <script src="monkberry.js"></script> in html without es6, then Monkberry.render(template,node). the template should be what?

[2016-11-29 05:07] elfet commented on #39
You can use https://github.com/monkberry/standalone
[code]

[2016-11-29 05:09] #39 closed

[2016-12-12 10:57] paleo229 opened #40 "Define available callbacks for events used as directives"
Hi, thanks for this amazing template engine. Here is a suggestion.

I currently use events with this kind of code:

	<input type="text" :onchange="{{ ctrl.changeText }}">

	import Template from './Template.monk';
	let state = {
	  someStateVariable: 'abc',
	  ctrl: {
	    changeText: e => { /* ... */ }
	  }
	}
	view = Monkberry.render(Template, el, {
	  directives: { /* ... */ }
	})
	view.update(s

[2016-12-12 12:21] elfet commented on #40
So you proposing to add `methods`? Like this:
[code]

[2016-12-13 07:34] paleo229 commented on #40
Yes, but I'm unsure that _"methods"_ is the right term. A [method](https://en.wikipedia.org/wiki/Method_(computer_programming)) is in the context of the OOP. But it is precisely in order to avoid OOP that I need this feature. Maybe _"functions"_? Or _"procedures"_?

Or perhaps we can consider it is a way to provide _methods_ of the template (the template is like an instance), but IMO it's not the

[2016-12-13 08:23] elfet commented on #40
`callbacks`?

[2016-12-13 16:04] paleo229 commented on #40
It is my first proposition. A [callback](https://en.wikipedia.org/wiki/Callback_(computer_programming)).

We can consider that we pass a list of _callbacks_ as arguments to the code of the template, which we expect that they will be call back at some convenient time. It seems OK.

It depends on which is the syntax in the template. For example, we want to define a callback named `onChangeText`. In

[2016-12-14 05:35] elfet commented on #40
Maybe allow to use or not prefixes?
[code]

[2016-12-14 06:37] paleo229 commented on #40
I'd like that!

[2016-12-14 06:41] elfet commented on #40
Will try to implement it in next release.

[2016-12-30 10:38] muthumani-prabhu commented on #33
Tried solving the problem using monkberry remove method (stolen the idea from redux + todomvc). It works perfectly.

  /**
   * Remove view from DOM.
   */
  Monkberry.prototype.remove

Here is the director snippet which remove the view using "after" event, when the user is navigating away
[code]
@elfet, Would you please spare couple of minutes and confirm that the approach is correct? By the way

[2017-01-01 14:18] elfet commented on #33
@muthumani-prabhu i confirm, thanks) Everything what works for you is solution. 😄

[2017-01-03 16:21] fliptheweb commented on #19
@elfet did you complete your article? Wanna read :)

[2017-01-04 05:19] elfet commented on #19
@fliptheweb i'm always gonna to, but can not find time now :(

[2017-01-08 22:37] uhjish commented on #18
On the same note, how does this compare to [sveltejs](https://svelte.technology/guide)? Both seem to compile templates down into optimized vanillaJS and html... Is the compiled code generated by monkberry stand-alone or does it require a runtime?

[2017-01-08 22:49] leeoniya commented on #18
from http://monkberry.js.org/docs/installation it does require a runtime. but the runtime is 1.25k min/gz, so pretty much negligible. the size of the generated code would be a much better comparison though.

[2017-01-09 07:44] uhjish commented on #18
makes sense, and the --as-module compile leads me to believe that it can build self-contained ES6 modules, which could again be composed into optimized apps with a bit of tree-shaking ala rollup or webpack2... neat.

[2017-01-09 08:44] elfet commented on #18
@uhjish sveltejs is pretty awesome, but monkberry was first 😃

[2017-01-09 09:47] leeoniya commented on #18
and sveltejs got to these first:

https://github.com/monkberry/monkberry/issues/35 each-else: https://github.com/sveltejs/svelte/pull/122
https://github.com/monkberry/monkberry/issues/37 keyed updates: https://github.com/sveltejs/svelte/pull/209
https://github.com/monkberry/monkberry/issues/2 SSR: https://github.com/sveltejs/svelte/issues/196

...maybe others

at the end of the day what matters is

[2017-01-09 10:08] uhjish commented on #18
@elfet Imitation is the sincerest form of flattery; forking is a close second ;-).

[2017-01-09 12:53] mindplay-dk commented on #5
You might also consider porting to TypeScript - in my experience, that's usually the better approach, because it guarantees correct typedefs and removes the burden of maintaining them by hand.

In addition, it hardens your codebase against errors and makes the code self-documenting for other contributors.

You're already using ES6, so basically you would just be adding type-annotations for compile

[2017-01-09 13:02] elfet commented on #18
@leeoniya svelte is awesome and have much more "media" power, better marketing. :)

I have plans to add keyed updates in future, btw.

[2017-01-27 08:48] d9onis commented on #36
+1

[2017-02-09 14:31] wadeV12 opened #41 "Image insertion"
When i am trying to put image in template i always got error:

So here is code:
[code]
And it's not working. But this code works:
[code]

[2017-02-09 15:56] elfet commented on #41
Correct, all tags should be closed (except br, link and a few more). You can use this:
`<img src="{{ barcode_img_src }}" alt=""/>`

[2017-02-09 16:05] #41 closed

[2017-03-22 03:52] lijinpeng7364 commented on #19
@antonmedv did you finish the article? I'm really want to know the keys of monkberry.

[2017-03-22 06:14] antonmedv commented on #19
@lijinpeng7364 nope, sorry. A lot of work)

[2017-03-22 07:08] lijinpeng7364 commented on #19
@antonmedv ok, hope someday you can finish it.

[2017-04-18 23:25] luisvinicius167 opened #42 "Monkberry Flux"
First of all, thanks for awesome library. Tiny size and focused. I love it.

I've created a repo to help me with state in my monkberry applications. Tiny size 900bytes and minimal api. If someone can take a look.

https://github.com/luisvinicius167/monkberry-flux

[2017-04-19 02:01] antonmedv commented on #42
Really nice one! I love it!

[2017-04-27 18:20] chocolateboy opened #43 "Why endif, endfor etc. rather than end?"
Is there a reason why there are multiple end tags rather than simply using `end`? i.e. instead of:

[code]

\- why not:

[code]
?

Are there any plans to migrate to a single end tag, or any interest in a pull request to do so?

[2017-04-27 18:28] daliwali commented on #43
Seems to be inspired by PHP's `endif` :)

[2017-04-27 22:18] DylanPiercey commented on #43
Imo makes reading easier.

[2017-04-28 05:25] antonmedv commented on #43
Agree.

[2017-04-28 05:25] #43 closed

[2017-04-28 05:26] antonmedv commented on #43
No plans for migrating to "end". Sorry.

[2017-05-11 17:00] Abdillah opened #44 "Where to put directive with browserify setup?"
Hi @antonmedv ,
I love this library as it does what it should!

But, I have a question.
I have a setup where `monkberry` used with browserify. It compiles all `monk` files and include it elsewhere. The think is, I have no way (in my knowledge) to specify directive to use.

Can I put what directives to use directly in my `*.monk` file?
[code]

Or in my class which extend the generated Template clas

[2017-05-12 05:56] antonmedv commented on #44
[code]

More at https://monkberry.js.org/docs/directives

[2017-05-17 03:25] Abdillah commented on #44
I'm sorry, yeah, that's the case!
Thank you..

Just curious, is there currently other way to include directives from `.monk` or class directly?

[2017-05-17 05:04] antonmedv commented on #44
I think no.

[2017-05-19 23:53] Abdillah commented on #44
Okay, thaks

[2017-05-19 23:53] #44 closed

[2017-06-23 13:05] binjospookie opened #45 "Return Promise after update"
Is it possible to know when Monkberry finishes updating?
Any callback or Promise, maybe?

[2017-06-23 13:24] antonmedv commented on #45
update is synchronous :)

[2017-06-23 13:39] binjospookie commented on #45
@antonmedv thank you for the answer and Monkberry!

[2017-06-23 13:39] #45 closed

[2017-06-30 09:14] binjospookie opened #46 "Cannot read property 'type' of null SVG"
I have it in my monk-template:
[code]
When I try to build it I have an error:
[code]
which is firing by this string
[code]

[2017-06-30 10:26] binjospookie commented on #46
[code]

works for me :)

[2017-06-30 10:26] #46 closed

[2017-06-30 11:07] antonmedv commented on #46
Leave only this attrs:
[code]

[2017-06-30 11:10] #42 closed

[2017-09-03 10:14] paleo commented on #40
Hello, is there a date scheduled for the release of this feature?

[2017-09-03 12:44] antonmedv commented on #40
Hi,
I haven't time for scheduled work on this project any more. But I have plans on releasing new major version v5, but again – I don't know when.
If you, or somebody else wants to become a maintainer – your're welcome.

[2017-09-30 13:46] paleo opened #47 "Render without a parameter 'el'"
My main use case is with a template with one root element. For example:

    <section>
      <h1>{{ title }}</h1>
      <content>{{ body }}</content>
    </section>

Then, I need to create the DOM element as a detached element, without to insert it immediately. Currently I use the following code:

    let view = render(template, document.createElement("div")) // → an unused '<div>' is created

[2017-10-01 04:24] antonmedv commented on #47
Does other ui libs like react or vue support detached rendering?

I think we can figure out something for new version of monkberry.

[2017-10-01 06:30] paleo commented on #47
Yes, at least for React.

Here is the first example on [reactjs.org](https://reactjs.org/):

[code]

After compilation to JS:

[code]

The call to `React.createElement` is the equivalent to `Monkberry.render`. It creates virtual DOM elements then returns it.

Notice: `ReactDOM.render` is NOT equivalent to `Monkberry.render`. It is something Monkberry doesn't need. `ReactDOM.render` converts the vi

[2017-10-02 07:01] antonmedv commented on #47
Okay, but lets wait until I finish v5 as it will have a little different abstractions.

[2017-10-05 11:25] Pavliko opened #48 "Set support for loop"
https://github.com/antonmedv/monkberry/blob/e2e7cc46d4f9ccbf0cf3a995fdc988b50dabf652/monkberry.js#L117-L125

[2017-10-05 12:30] antonmedv commented on #48
Will be implemented in new release v5. See branch `next`.

[2017-12-29 11:47] dmitrya1979 opened #49 "Support of global variables in if statement"
Hello,

I specified global variable in monkberry-loader settings, I can print this variable in template expression like {{myGlobalVar.param1}}

however {% if myGlobalVar.param1 %} throws compilation error...

[2017-12-30 04:30] antonmedv commented on #49
Looks like a bug. Will fix it in next release. See `next` branch.

[2018-01-10 07:37] Salmakis opened #50 "load template with <script src="..."> ?"
it should really be possible to use something like this to load templates:
<script type="text/monkberry" id="navigation" src="navigation.monk"></script>

since im in our current environment where not able to use the "import Template from 'template.monk';" thing and actually we need to put all the monk template code into the main file :(

(or is it possible and i just missed it?)

[2018-01-10 10:48] antonmedv commented on #50
Take a look at https://github.com/monkberry/standalone

[2018-01-18 06:25] Abdillah opened #51 "Multi-line comment parsing error"
# How to reproduce?
1. Create a `.monk` file with comment that span lines,
[code]

2. Require it from javascript using webpack plugin with `monkberry-loader`

3. Compile, got me into the following error,

[code]

# What to expect?
A valid multi line comment, that hopefully cover commenting monkberry template syntax too, like ``.

# Toolkit Version
[code]

[2018-01-18 06:52] antonmedv commented on #51
Looks like a bug. Multiline commends doesn't working.

[2018-03-05 11:43] paleo opened #52 "Webpack 4"
The build with Webpack 4 fails:

    ERROR in ./path/to/MyTemplate.monk
    Module build failed: TypeError: Cannot read property 'monkberry' of undefined
        at Object.exports.getLoaderConfig (/path/to/myproject/node_modules/monkberry-loader/node_modules/loader-utils/index.js:124:37)
        at Object.module.exports (/path/to/myproject/node_modules/monkberry-loader/src/index.js:6:28)

In `pack

[2018-03-05 11:44] antonmedv commented on #52
I know, I'm working on next version: see next branch.

[2018-03-05 11:48] paleo commented on #52
OK. Can we use the `next` branch now? Or is it still too unstable?

[2018-03-05 11:59] antonmedv commented on #52
Still in dev. Actually I got monkberry-loader to work correctly with webpack4, try update.

[2018-03-05 14:40] paleo commented on #52
With which version? I have the _4.0.8_. I don't see any commit or any npm release related to Webpack 4…

[2018-03-05 15:06] antonmedv commented on #52
Yes, sorry. Fixed only in https://github.com/monkberry/monkberry-loader/releases/tag/3.8.2

[2018-03-05 15:31] paleo commented on #52
With:

    "monkberry": "4.0.8",
    "monkberry-directives": "4.0.8",
    "monkberry-events": "4.0.8",
    "monkberry-loader": "3.8.2",
    "ts-loader": "3.5.0",
    "typescript": "2.7.2",
    "webpack": "4.1.0",
    "webpack-cli": "2.0.10"

The new error:

    ERROR in ./frontend/main.ts
    Module build failed: TypeError: Cannot read property 'ts' of undefined
        at getLoaderOptions (/path/

[2018-03-05 15:46] paleo commented on #52
Sorry, there is still an error:

    ERROR in ./path/to/MyTemplate.monk
    Module build failed: TypeError: compiler.addSource is not a function
        at Object.module.exports (/path/to/myproject/node_modules/monkberry-loader/src/index.js:16:12)

With:

    "monkberry": "4.0.8",
    "monkberry-directives": "4.0.8",
    "monkberry-events": "4.0.8",
    "monkberry-loader": "3.8.2",
    "webpack":

[2018-03-05 17:01] antonmedv commented on #52
Yes, "4.0.8" does not supports "3.8.2". There is no fix now. Sorry. But you can port in from "3.8.2".

[2018-03-05 17:20] paleo commented on #52
Ah yes, I understand. But the directives are not available with Monkberry 3.8.2?

[2018-03-06 02:12] antonmedv commented on #52
No.

[2018-03-06 02:12] antonmedv commented on #52
But I think fixing 4.0.8 for work with wp4 is simple.

[2018-04-11 19:03] paleo opened #53 "Ideas"
Hi Anton,

I will describe here what I need as a Monkberry user, and what I think of where Monkberry's strengths are.

# Provide a way to select DOM elements

Here is a suggestion with `:sel` but it is **not** a directive:

[code]

[code]

Why? I need to access to the selected elements on the current template only. A call to `view.querySelector` will query all the DOM elements, including in nested

[2018-04-12 00:57] antonmedv commented on #53
Hi,

Wow, this is a big issue. Actually I'm working on new version of monkberry here: https://github.com/antonmedv/monkberry/tree/next
It will be much simple and will solve a couple of bugs. Some of your needs will be achieved, some not.

[2018-04-12 06:42] paleo commented on #53
Maybe I can help, I see your code is in TypeScript without semicolons. I like that! But I don't know how to build `monkberry-compiler`. I installed the package `preprocess` (on Ubuntu), then I tried:

[code]

Notice: The code of `monkberry-compiler` is gibberish to me.
Notice 2: Could we add the markup `<img>` to the empty markups?

[2018-04-12 06:52] antonmedv commented on #53
Hmm, you can compile by hands:
[code]

Yes, we can add <img>

Also you need to figure out a lot's of stuff to help developing monkberry. :)

[2018-04-12 08:04] paleo commented on #53
[code]

NB: I just installed preprocess with a `sudo apt install preprocess` on Ubuntu 16.04.

[2018-04-12 08:44] antonmedv commented on #53
=)) yes, it's npm package. Take a look at package.json.

[2018-04-12 09:36] paleo commented on #53
So I think you use a special config in your PATH. I modify your `Makefile`:

[code]

[2018-04-12 09:45] paleo commented on #53
In `monkberry-cli/package.json` I see:

    "dependencies": {
      "monkberry-compiler": "^5.0.0"

And I obtain:

[code]

Is there a way to say to TypeScript to use the directory `src/monkberry-compiler` instead of `node_modules/monkberry-compiler` for this package?

[2018-04-12 10:35] paleo commented on #53
The build works!

[code]
Then, I run:
[code]

But there are plenty of errors :

[2018-04-12 10:40] antonmedv commented on #53
Try npm test

[2018-04-12 11:15] paleo commented on #53
Maybe the file `packages/monkberry-compiler/src/parser/index.js` should be in the `.gitignore`?
And also, I suggest these [three minor changes](https://github.com/paleo/monkberry/commit/4e05f8ca87c30534880dfe4066fdc0487a22adb6).

[2018-04-12 13:06] paleo commented on #53
In `rendering.ts`, the `roots` array is a memory leak. We could render multiple times the same template with always a different parent node (for example if we render a template for an `<article>` that is included in a `<li>` generated on the fly).

Maybe you could use a `WeakMap<Element | Comment, VNode>` instead. But it's not compatible with legacy browsers.

I persist to think the `parentDom` pa

[2018-04-12 13:48] antonmedv commented on #53
This code will be deleted on build

[2018-04-13 14:35] paleo commented on #53
The most essential code works with Jison. I'm trying to understand it. In `packages/monkberry-compiler/src/compiler/attribute.js`, line 35:

    var variables = collectVariables(figure.getScope(), expr);

Where does the `collectVariables` function come from?

[2018-04-13 15:34] antonmedv commented on #53
See imports

[2018-04-13 15:57] paleo commented on #53
Here?
https://github.com/antonmedv/monkberry/blob/next/packages/monkberry-compiler/src/compiler/attribute.js

There is no import for `collectVariables`.

[2018-04-13 16:18] antonmedv commented on #53
Owww, this is old code. Not refactored yet.

[2018-04-14 13:43] paleo commented on #53
I'm a bit lost in the Jison grammar. Currently I can't learn by trial and error, because I have run time errors. Notice we could still work together. For example, I could port the remaining JS code to TypeScript, including defining the interfaces etc.

To return to the original topic posted above: I really need the `:sel` pseudo-directive in order to simplify some code in my project. Is this a fea

[2018-04-14 23:06] antonmedv commented on #53
Can you describe:sel a little?

[2018-04-15 07:41] paleo commented on #53
Sure.

**The problem:** In the example in [the project Website](https://monkberry.js.org/), you do: `view.querySelector('input')`. In a real situation, I can rarely do that because I add nested components during the rendering (using directives) and maybe a nested component contains another `<input>` element.

**The solution:** Monkberry could provide a way to tag some DOM elements in order to not

[2018-04-15 12:28] antonmedv commented on #53
Yes! Actually I was going to implement same idea but with different name: `ref` (same as React's ref)

[2018-04-17 18:31] paleo commented on #52
Here: https://github.com/monkberry/monkberry-loader/pull/2

[2018-04-18 09:54] paleo commented on #52
Could you publish the npm package? It works like a charm on my project (66 templates) with Webpack 3 and 4. NB: I don't use the options `globals` neither `transforms`.

[2018-04-18 11:53] antonmedv commented on #52
done

[2018-04-18 16:52] paleo commented on #52
Thank you!

[2018-04-18 16:52] #52 closed

[2018-04-18 17:02] wellcaffeinated commented on #27
Looks like there was a PR #31  for this but it was never merged. I'm trying to use monkberry for a project (and love it) but i really need lifecycle methods. Any chance you could bump the version and add this feature?

[2018-04-18 17:38] antonmedv commented on #27
Sorry, no, now main main goal is to finish next version.

[2018-04-18 18:04] wellcaffeinated commented on #27
Fair enough, is there any way I can help? If I push this feature to the next branch can you instruct me on how to use the new branch in my project :) ?

[2018-04-19 16:39] paleo commented on #53
Hi,
[I implemented all my needs  with the current Monkberry 4, here](https://github.com/paleo/lt-monkberry).
I plan to publish my work as an npm package with the name **lt-monkberry** ("lesser than Monkberry"). Do you agree with this name or have I to rename without the words "monkberry" at all?

[2018-04-20 05:57] antonmedv commented on #53
Cool work! Name is up to you. You can also use @scope: @paleo/monkberry

[2018-04-20 09:56] paleo commented on #53
Good idea.
I put it in the scope of my team: https://www.npmjs.com/package/@fabtom/lt-monkberry
The repo has moved here: https://github.com/fabtom/lt-monkberry

[2018-04-20 09:56] #53 closed

[2018-06-15 10:40] pikhovkin opened #54 "How to render template by name (name has string type)?"
How to render template by name (name has string type)?
I need to pass the name of the template as a string.

Example:
[code]

[2018-06-15 11:04] antonmedv commented on #54
https://github.com/monkberry/standalone

[2018-06-15 12:42] pikhovkin commented on #54
@antonmedv, example, please

[2018-06-16 04:04] antonmedv commented on #54
Read the docs

[2018-06-17 15:18] pikhovkin commented on #54
I didn't find this in docs. I would not ask if it was there.

[2018-06-18 06:42] antonmedv commented on #54
Define template with text/monkberry.
[code]
And you now can get access to component template.

`var view = Monkberry.render(component, document.body);`

[2018-06-18 07:50] DeLaGuardo commented on #54
@pikhovkin templates in monkberry-standalone evaluated in global scope. So you can render them with little trick: `var view = Monkberry.render(window['Template'], document.body);` If you need to identify them by strings

[2018-06-18 08:37] pikhovkin commented on #54
@DeLaGuardo, exactly! Thanks!

[2018-06-19 14:13] #54 closed

[2018-10-06 01:57] #51 closed

[2018-10-25 18:42] PabloKowalczyk opened #56 "Integration tests"
Hello, how to write integration tests for components? Some examples in the documentation would be very helpful.
Thanks :)

[2018-10-26 02:06] antonmedv commented on #56
You can use something like jsdom

[2018-10-27 11:39] PabloKowalczyk commented on #56
I'm trying to configure Mocha with Webpack, but something is failing when i do `import Btn from 'App/components/btn';`. IDK this is the Monkberry or Mocha error. Call stack:
[code]

[2018-10-29 05:35] antonmedv commented on #56
Check if your loaders is on.

[2018-10-30 15:10] PabloKowalczyk commented on #56
Seems they are, SCSS loader works as expected. Requiring plain JS also works, but if any file `import` `*.monk` template then it starts to fail.
My `module` config:
[code]

[2018-11-17 08:02] PabloKowalczyk commented on #56
Hey, any progress with this issue? Maybe repo with bug will be helpful?

[2018-11-17 12:02] antonmedv commented on #56
Sorry, haven’t time for this repo now.

[2018-12-31 00:03] alexmarucci opened #57 "Question: How can I import a Child Template without importing it in the .monk file ?"
Hey Guys,

I am trying to use monkberry in one of my projects and I can see I can Import a child template like so:

[code]

Is there any alternative way I can Import the child component?
I tried this without success.

[code]

Thanks in advance!

[2018-12-31 05:22] antonmedv commented on #57
Import works only with `import` keyword.